.navbar {
  display:flex;
  justify-content:space-between;
  padding:20px;
  background:#111;
}

.navbar a {
  margin-left:20px;
  color:cyan;
  text-decoration:none;
}

.hero {
  text-align:center;
  margin-top:120px;
}

.start-btn, .login-btn {
  background:cyan;
  padding:10px 20px;
  border-radius:5px;
  text-decoration:none;
  color:black;
}

.login-box {
  width:300px;
  margin:120px auto;
  background:#111;
  padding:30px;
  border-radius:10px;
  text-align:center;
}

.login-box input {
  width:100%;
  padding:10px;
  margin:10px 0;
}

.dashboard {
  display:flex;
  justify-content:center;
  margin-top:100px;
}

.card {
  background:#111;
  padding:20px;
  margin:20px;
  border-radius:10px;
  width:200px;
}}

input {
  width: 70%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
}

button {
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  background: cyan;
  cursor: pointer;
  font-weight: bold;
}
